@model IEnumerable<Cms.Models.ViewModels.Pages.AdvertisementViewModel>

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
           <svg class="bd-placeholder-img d-block w-100" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">1</text></svg>
       
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img d-block w-100" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">2</text></svg>

        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img d-block w-100" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">3</text></svg>

        </div>
    </div>
</div>



@*<div class="container">
    <h1>Album example</h1>
    <p class="lead text-muted">
        Something short and leading about the collection below—its contents, the creator, etc. Make it short and
        sweet, but not too short so folks don’t simply skip over it entirely.
    </p>
    <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
</div>*@