@model Cms.Models.ViewModels.Pages.SideBarViewModel
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      Pasek boczny
    </h4>
    <p class="lead">
        @Html.Raw(Model.Body)
    </p>