@model Cms.Models.ViewModels.Cart.CartViewModel

<div class="ajaxCart">
   
    <span>Koszyk:<span class="CartQuantity"> @Model.Quantity </span> / <span class="grandTotalVal">@Model.Price</span>zł</span>
   
<a href="/Cart/Index/">Przejdź do koszyka</a>
</div>
