
@import "../node_modules/bootstrap/scss/bootstrap";

//vars

@import "vars.scss";

@import"navbar.scss";

body {
    padding: 0;
}

//site conteiner

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    border-top: solid 3px #ccc;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}


////////////////////////////////////Categories navbar menu////////////////////////////////////////////
.categories {
    padding-top: .25rem;

    h3 {
        font-size: 1rem;
        color: $primary_textHColor;
    }
    //list group
    .list {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;

        a {
            color: $primary_linksColor;
        }
    }
}

/////product list  product album///////////////////////
.card {

    img {
        max-height: 350px;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    height: 450px;
}

.card-body {

    h3 {
        font-size: 0.75rem;
    }
}
