@model IEnumerable<Cms.Models.ViewModels.Shop.CategoriesViewModel>


<h2>@ViewBag.Title</h2>
<div class="new-cat">
    <input type="text" name="catName" id="catName" class="form-control" />
    <p>
        <a href="#" id="newCatA">Dodaj nową kategorię</a>
        <span class="a-text">
            <img src="~/Content/img/2.gif" />

        </span>
    </p>
</div>
<hr />


@if (!Model.Any())
{
    <h3>Brak kategori - dodaj nową.</h3>
}
else
{
    

    <table class="table sorting table-condensed table-hover table-striped" id="categoryTable">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>


                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @id= "ids_"+item.ID,  @class = "form-control", @readonly = "readonly"  } })


                </td>

                <td>

                    @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>


}

